<hr/>
<h2>Tutorial 19: Add Material UI</h2>
<hr/>
<button mat-button color="primary">This is angular Mat button</button>
<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-slider max="10" min="0"></mat-slider>
