<hr/>
<h2>Tutorial 11: Property Binding</h2>
<hr/>
<!-- to set an element property to be a non-string value, we cannot use interpolation. We need to use property binding-->
<input text="text" [disabled]="disabledBox" [value]="tutorial_11_name"/> <!-- property binding -->
<br/>
<input text="text" disabled={{disabledBox}} value={{tutorial_11_name}}/> <!-- Interpolation -->
<br/>
<br/>
<button (click)="disabledBoxButton()">Enable TextBox</button>
<hr/>
<h2>Tutorial 10: Get input box value</h2>
<hr/>
<input type="text" (keyup)="tutorial10GetVal($event.target.value)" />
<h2>{{ tutorial_10_words }}</h2>
<br/>
<input type="text" #tut10box/>
<button (click)="tutorial10GetVal(tut10box.value)">Get Value</button>
<h2>{{ tutorial_10_words }}</h2>

<hr/>
<h2>Tutorial 9: Events</h2>
<hr/>
<h1>Call function in angular</h1>
<label>Click Event: </label>
<button (click)="myEvent('this is click event')">Click</button>
<br/>
<br/>
<label>Key Up Event </label>
<input type="text" #box (keyup)="myEvent(box.value)"/>
<br/>
<br/>
<label>Key Down Event </label>
<input type="text" #box2 (keydown)="myEvent(box2.value)"/>
<br/>
<br/>
<label>Key Up Enter Event </label>
<input type="text" #box3 (keyup.enter)="myEvent(box3.value)"/>
<br/>
<br/>
<label>Blur Event </label>
<input type="text" #box4 (blur)="myEvent(box4.value)"/>
<br/>
<br/>
<h1 (mouseover)="myEvent('mouseover')" style="background-color: skyblue;">Mouse Over Event </h1>
<br/>
<br/>
<h1 (mouseleave)="myEvent('mouseleave')" style="background-color: purple;">Mouse Leave Event</h1>
